* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  background-color: antiquewhite;
}

.name_logo {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  background-color: aqua;
}
.svg-icon {
  width:1.5em;
  height:1.5em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #000;
}

.svg-icon circle {
  stroke: #000;
  stroke-width: 2;
}

.hu

.exit {
  display: flex;
  padding: 1rem;
  justify-content: flex-end;
}

.work {
  display: flex;
  justify-content: center;
}

.items {
  display: flex;
  justify-content: center;
}
