* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  background-color: antiquewhite;
}

.name_logo {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items:sp;
}
.hamber_menu {
 
}
.exit {
  display: flex;
  padding: 1rem;
  justify-content: flex-end;
}

.work {
  display: flex;
  justify-content: center;
}

.items {
  display: flex;
  justify-content: center;
}
